<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomas Petricek &mdash; Curriculum Vitae</title>
  {% include "styles/default" %}
</head>
<body>
<article>

  <header>
    <h1>Tomas Petricek</h1>
    <p><a href="http://tomasp.net">http://tomasp.net</a> | <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a> | <a href="https://orcid.org/0000-0002-7242-2208">0000-0002-7242-2208</a></p>
  </header>

  <section>
    <h2>Academic Experience</h2>
    {% include "parts/experience-academic" %}
  </section>
  <section>
    <h3>Research Funding</h3>
    {% include "parts/research-funding" %}
  </section>
  <section>
    <h3>Awards</h3>
    {% include "parts/awards" %}
  </section>

  <section>
    <h2>Academic Recognition and Collaboration</h2>
    {% include "parts/membership" %}
  </section>
  <section>
    {% include "parts/invited-talks" %}
  </section>
  <section>
    {% include "parts/research-visits" %}
  </section>
  <section>
    <h3>Project Participation</h3>
    {% include "parts/projects" %}
  </section>

  <section>
    <h2>Community Service and Administration</h2>
    {% include "parts/refereeing" %}
  </section>
  <section>
    {% include "parts/service" %}
  </section>
  <section>
    <h3>Administration</h3>
    {% include "parts/administration" %}
  </section>

  <section>
    <h2>Teaching and Supervision</h2>
    {% include "parts/teaching-qualifications" %}
  </section>
  <section>
    <h3>Research Supervision</h3>
    {% assign suprole = "" %}
    {% include "parts/research-supervision-by-role" %}
  </section>
  <section>
    {% include "parts/teaching-experience" %}
  </section>
  <section>
    {% include "parts/supervised-theses" %}
  </section>

  <section>
    <h2>Industry Engagement</h2>
    {% include "parts/experience-work" %}
  </section>
  <section>
    {% include "parts/industry-talks" %}
  </section>

</article>
</body>
</html>
