<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomas Petricek &mdash; Curriculum Vitae</title>
  {% include "styles/default" %}
  <style type="text/css">
    h2 { font-weight:400; font-size:16pt; margin-bottom:6pt; margin-top:14pt; }
  </style>
</head>
<body>
<article>
  <header>
    <h1>Tomas Petricek</h1>
    <p><a href="http://tomasp.net">http://tomasp.net</a> | <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a> | <a href="https://orcid.org/0000-0002-7242-2208">0000-0002-7242-2208</a></p>
  </header>

  <section>
    <h2>Academic education</h2>
    {% assign expkind = "education" %}
    {% assign expstyle = "" %}
    {% include "parts/experience-by-kind" %}
  </section>

  <section>
    <h2>Professional experience</h2>
    {% assign expkind = "academic" %}
    {% assign expstyle = "brief" %}
    {% include "parts/experience-by-kind" %}
  </section>

  <section>
    <h2>Research Funding</h2>
    {% assign fundstyle = "brief" %}
    {% include "parts/research-funding" %}
  </section>

  <section>
    <h2>Professional Membership</h2>
    {% include "parts/membership" %}
  </section>
  <section>
    <h2>Awards</h2>
    {% include "parts/awards" %}
  </section>
  <section>
    <h2>Keynotes and Invited Talks</h2>
    {% include "parts/invited-talks" %}
  </section>
  <section>
    <h2>Recent Research Visits</h2>
    {% include "parts/research-visits-5years" %}
  </section>

  <section>
    <h2>Program Committees and Refereeing</h2>
    {% include "parts/refereeing-selected" %}
  </section>
  <section>
    <h2>Editorial and Committee Membership</h2>
    {% include "parts/service" %}
  </section>

</article>
</body>
</html>
