<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomas Petricek &mdash; Curriculum Vitae</title>
  {% include "styles/default" %}
</head>
<body>
<article>
  {% assign selected_count = 0 %}
  {% assign workshop_count = 0 %}
  {% for it in publications %}
  {% if it.type contains "selected" %}{% assign selected_count = selected_count | plus: 1 %}{% endif %}
  {% if it.type contains "workshop" %}{% assign workshop_count = workshop_count | plus: 1 %}{% endif %}
  {% endfor %}

  <header>
    <h1>Tomas Petricek</h1>
    <p><a href="http://tomasp.net">http://tomasp.net</a> | <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a> | <a href="https://orcid.org/0000-0002-7242-2208">0000-0002-7242-2208</a></p>
  </header>

  <section>
    <h2>Academic education</h2>
    {% assign expkind = "education" %}
    {% assign expstyle = "" %}
    {% include "parts/experience-by-kind" %}
  </section>

  <section>
    <h2>Professional experience</h2>
    {% assign expkind = "academic" %}
    {% assign expstyle = "brief" %}
    {% include "parts/experience-by-kind" %}
  </section>

  <section>
    <h2>Research Funding</h2>
    {% assign fundstyle = "brief" %}
    {% include "parts/research-funding" %}
  </section>

  <section>
    <h2>Professional Membership</h2>
    {% include "parts/membership" %}
  </section>
  <section>
    <h2>Awards</h2>
    {% include "parts/awards" %}
  </section>
  <section>
    <h2>Keynotes and Invited Talks</h2>
    {% include "parts/invited-talks" %}
  </section>

  <section>
    <h2>Recent publications</h2>
    <p>
      For historical reasons, highly-selective conference publications are preferred over journal
      papers in computer science. I am the author of {{ selected_count }} papers in highly-selective
      venues (including POPL, PLDI, ICFP, ICALP, ECOOP) and {{ workshop_count }}&nbsp;other peer-reviewed
      papers. I have an h-index of 16 (7 in WoS) and my work has 1080+
      citations (233 in WoS).
    </p>

    {% assign pubstyle = "brief" %}
    {% assign pubtype = "5yeartop" %}
    {% include "parts/publications-by-type" %}
  </section>

</article>
</body>
</html>
