<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomas Petricek - Curriculum Vitae</title>
  {% include "styles/default" %}
</head>
<body>
<article>

  <header>
    <h1>Tomas Petricek</h1>
    <p><a href="http://tomasp.net">http://tomasp.net</a> | <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a> | <a href="https://orcid.org/0000-0002-7242-2208">0000-0002-7242-2208</a></p>
  </header>  
  
  <section>
    <h2>Academic Experience</h2>
    {% include "parts/experience-academic" %}
  </section>
  <section>
    {% include "parts/research-funding" %}
  </section>  
  <section>
    {% include "parts/awards" %}
  </section>

  <section>
    <h2>Academic Recognition and Collaboration</h2>
    {% include "parts/membership" %}
  </section>
  <section>
    {% include "parts/invited-talks" %}
  </section>
  <section>
    {% include "parts/research-visits-5years" %}
  </section>
  <section>
    {% include "parts/projects" %}
  </section>
  
  <section>
    <h2>Teaching and Supervision</h2>
    {% include "parts/research-supervision" %}    
  </section>
  <section>
    {% include "parts/supervised-theses-summary" %}    
  </section>

  <section>
    <h2>Community Service and Administration</h2>
    {% include "parts/refereeing-selected" %}
  </section>
  <section>
    {% include "parts/service" %}    
  </section>

</article>
</body>
</html>
