<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomas Petricek &mdash; Curriculum Vitae</title>
  {% include "styles/default" %}
</head>
<body>
<article>

  <header>
    <h1>Tomas Petricek</h1>
    <p><a href="http://tomasp.net">http://tomasp.net</a> | <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a> | <a href="https://orcid.org/0000-0002-7242-2208">0000-0002-7242-2208</a></p>
  </header>

  <section>
    <h2>Academic Experience</h2>
    <h3>Positions</h3>
    {% assign expkind = "academic" %}
    {% include "parts/experience-by-kind" %}
    <h3>Education</h3>
    {% assign expkind = "education" %}
    {% include "parts/experience-by-kind" %}
  </section>
<!--
  <section>
    <h2>Research Projects</h2>
    <h3>Research Funding</h3>
    {% include "parts/research-funding-recent-with-role-and-outputs" %}
  </section>
  <section>
    <h3>Project Participation</h3>
    {% include "parts/projects" %}
  </section>
-->
  <section>
    <h2>Academic Recognition and Collaboration</h2>
    {% include "parts/membership" %}
  </section>
  <section>
    <h3>Awards</h3>
    {% include "parts/awards" %}
  </section>
  <section>
    {% include "parts/invited-talks" %}
  </section>
  <section>
    {% include "parts/research-visits-5years" %}
  </section>
<!--
  <section>
    <h2>Student and Research Supervision</h2>
    <h3>Research Supervision</h3>
    {% assign suprole = "" %}
    {% include "parts/research-supervision-by-role" %}
  </section>
  <section>
    {% include "parts/supervised-theses-summary" %}
  </section>
-->
  <section>
    <h2>Community Service and Refereeing</h2>
    {% include "parts/refereeing-selected" %}
  </section>
  <section>
    {% include "parts/service" %}
  </section>
<!--
  <section>
    <h2>Industry Engagement</h2>
    {% include "parts/experience-work" %}
  </section>
  <section>
    {% include "parts/industry-talks" %}
  </section>
-->
</article>
</body>
</html>
