<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomas Petricek &mdash; Selected Publications</title>
  {% include "styles/default" %}
  <style type="text/css">ul.spacious li p { line-height:1.3em; }</style>
</head>
<body>
<article>

  <header>
    <h1>Tomas Petricek &mdash; Selected Publications</h1>
    <p><a href="http://tomasp.net">http://tomasp.net</a> | <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a></p>
  </header>

  <section>
    {% include "parts/publications-with-impact" %}
  </section>

</article>
</body>
</html>
