<h3>Awards</h3>
<ul class="condensed">
  {% assign awards_by_year = awards | sort:"year" | reverse %}
  {% for it in awards_by_year %}
  <li>
    <p><strong>{{ it.award }}</strong>{% if it.venue != "" %}, {{ it.venue }}{% endif %}. {{ it.label }}</p>
  </li>
  {% endfor %}
</ul>
