<h3>Work Experience</h3>
<ul>
  {% assign experience_by_start = experience | sort:"start" | reverse %}
  {% for it in experience_by_start %}
  {% if it.kind contains "work" %}
  <li>
    <p><strong>{{ it.role }}, {{ it.institution }}</strong>, {{ it.range }}</p>
    <p>{{ it.label }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
