<ul>
  {% assign experience_by_start = experience | sort:"start" | reverse %}
  {% for it in experience_by_start %}
  {% if it.kind contains expkind %}
  <li>
    <p><strong>{{ it.role }}, {{ it.institution }}</strong>, {{ it.range }}</p>
    {% if expstyle contains "brief" %}{% else %}
    <p>{{ it.label }}</p>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
