<h3>Selected Industry Talks</h3>
<ul class="condensed">
  {% assign talks_by_year = talks | sort:"year" | reverse %}
  {% for it in talks_by_year %}
  <li>
    <p><strong>{{ it.title }}</strong>, {{ it.venue }} {{ it.year }}</p>
    <p>Talk recording: {{ it.link }}</p>
  </li>
  {% endfor %}
</ul>
